{%  extends "template/base.html" %}

{% block titulo %}
lista 
{% endblock %}


{% block contenidoquecambia %}

{% for lista in list %}

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{lista.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{lista.location}}</h6>
      <p class="card-text">{{lista.description}}</p>
      
    </div>
  </div>


{% endfor %}


{% for lista in list_hotels %}

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{lista.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{lista.location}}</h6>
      <p class="card-text">{{lista.description}}</p>
      
    </div>
  </div>


{% endfor %}
















{% endblock %}