{%  extends "template/base.html" %}

{% block titulo %}
search 
{% endblock %}


{% block contenidoquecambia %}
{% for lista in list %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{lista.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{lista.location}}</h6>
      <p class="card-text">{{lista.descripcion}}</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>


{% endfor %}



{% endblock %}